name: Test
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Setup
      uses: actions/setup-go@v4
      with:
        go-version: '1.25'

    - name: Test
      run: go test